*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header --------------------------------------------- */
.header{
    padding: 20px 0;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    color: white;
    background-color: black;
}

/* Main -----------------------------------------------*/
.page{
    height: 70vh;
    max-height: 400px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    border: 3px solid black;
}
/* Página 1 ----------------------------- */
.page--1, .page--4{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vignette__container--left{
    width: 35%;
    height: 95%;
}
.vignette__1,
.vignette__2,
.vignette__8,
.vignette__9{
    height: calc(50% - 10px);
    border: 3px solid black;
}
.vignette__1, .vignette__8{
    margin-bottom: 20px;
}
.vignette__3,
.vignette__10{
    width: 60%;
    height: 95%;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%); */
    border: 3px solid black;
}
.vignette__1,
.vignette__2, 
.vignette__3,
.vignette__4,
.vignette__5{
    position: relative;
    overflow: hidden;
}

/* Dibujos y animaciones de la primera página */
/* viñeta 1 */
.eyes__sleep{
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 20px);

    /* margin: 0 auto; */
    height: .8em;
    width: 2.7em;
    border-radius: 10px;
    background-color: black;
}
.eyebrows{
    position: absolute;
    top: 10px;
    left: calc(50% - 40px);

    height: 2em;
    width: 4em;
    background-image: url(../asets/ceja-boca1.svg);
    background-repeat: no-repeat;
}


/* viñeta 2 */
.eyes{
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    z-index: 10;

    height: 2.7em;
    width: .8em;
    border-radius: 10px;
    background-color: black;
}

/* viñeta 3 */
.bet{
    position: relative;
    display: flex;
    width: 80%;
    height: 35em;
    overflow: hidden;
    margin: 80px auto;
    border-radius: 10px;
    border: .2em solid black;
}
.bet::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 37%;
    left: -200%;
    height: 200%;
    width: 500%;
    border-radius: 50%;
    background-color: white;
    border: 4px solid black;
}
.almohada{
    height: 35%;
    width: 85%;
    margin: 4px auto;
    border-radius: 20px;
    border: .2em solid black;
}

/* .karen{
  
} */


.kare__eyes{
    position: absolute;
    top: 35px;
    z-index: 10;
    height: 1.7em;
    width: .5em;
    border-radius: 30px;
    background-color: black;
}
.eye--left{
    left: 40px;
}
.eye--right{
    right: 40px;
}    
.karen__nose{
    top: 55px;
    left: calc(50% - .5em);
    height: 1.2em;
    width: 1.3em;
    border-radius: 30px;
    background-color: white;
    border: 3px solid black;
}

/* página 2 ------------------------------------------ */
.page--2,
.page--3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vignette__4,
.vignette__5{
    height: 95%;
    width: 45%;
    border: 3px solid black;
}
/* viñeta 4 */
.vignette__4,
.signal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vignette__4{
    background-color: black;
}
.signal{
    height: 200px;
    width: 220px;
    border-radius: 50%;
    /* border: 3px solid rgb(199, 185, 185); */
    background-color: white;
}
.cat__signal{
    position: relative;
    z-index: 1;
    height: 100px;
    width: 120px;
    border-radius: 50%;
    background-color: black;
} 
.signal::after{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -20px;
    height: 50%;
    width: 210px;
    clip-path: polygon(0 0, 100% 0%, 69% 100%, 31% 100%);
    background-image: linear-gradient(to top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
}
.cat__signal__qewears{
    position: absolute;
    top: -8px;
    left: 0;
    height: 40px;
    width: 40px;
    clip-path: polygon(48% 0, 0% 100%, 100% 73%);
    background-color: black;
    transform: rotate(-10deg);
}
.cat__signal__qewears--right{
    position: absolute;
    left: 75px;
    /* background-color: tomato; */
    height: 20px;
    transform: rotate(260deg);
}

/* viñeta 5 */
.cat__signal--zoom{
    width: 220px;
    height: 190px;
    position: relative;
    top: 40%;
    right: 80px;
}
.cat__signal--zoom::before{
    content: '';
    display: inline-block;
    width: 300px;
    height: 160px;
    position: absolute;
    bottom: -20px;
    left: -35px;
    border-radius: 50%;
    background-color: black;
}
.cat__signal__qewears--zoom{
    height: 150px;
    width: 100px;
    top: -50px;
    /* left: -10px; */
}
.eyes__sleep--white{
    height: 10px;
    top: calc(50% - 25px);
    left: calc(50% - 10px);
    background-color: white;
}
.cat__nose{
    height: 50px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 40px);
    top: 55%;
}
.cat__nose::before{
    content: '';
    display: inline-block;
    height: 35px;
    width: 50px;
    position: absolute;
    top: 0;
    background-color: black;
}
/* página 3 ------------------------------------- */
.vignette__6,
.vignette__7{
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 95%;
    border: 3px solid black;
}
.vignette__6{
    align-items: flex-end;
    width: 55%;
    min-width: 16em;
}
.vignette__7{
    width: 35%;
}

/* viñeta 6 */
.cat__head{
    position: absolute;
    top: -50px;
    left: calc(50% - 85px);
    width: 10em;
    z-index: 10;
}
.cat__body,
.cat__paw{
    border: 3px solid black;
    border-radius: 50%;
}
.cat__body{
    position: relative;
    top: 80px;
    height: 10em;
    width: 16em;
}
.cape__inside{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    border-radius: 50%;
    overflow: hidden;
}
/* .cape__inside{
    
} */
.cat__paw{
    position: absolute;
    width: 3.5em;
    height: 3.5em;
    bottom: 55px;
    left: 30px;
}
.cat__paw--right{
    left: 150px;
}
.cat__paw::after,
.cat__paw::before{
    content: '';
    display: inline-block;
    position: relative;
    top: 15px;
    height: 2em;
    width: 3px;
    background-color: black;
}
.cat__paw::after{
    left: 10px;
}
.cat__paw::before{
    left: 30px;
}
.cape{
    position: absolute;
    bottom: 80px;
    right: 40px;
    height: 6.5em;
    width: 17.5em;
    animation-name: cape;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
    background-image: url(../asets/capa1.svg);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes cape{
    0%{
        background-image: url(../asets/capa1.svg);
    }
    15%{
        background-image: url(../asets/capa2.svg);
    }
    30%{
        background-image: url(../asets/capa3.svg);
    }
    45%{
        background-image: url(../asets/capa4.svg);
        top: -40px;
        left: -70px;
    }
    60%{
        background-image: url(../asets/capa5.svg);
    }
    80%{
        background-image: url(../asets/capa3.svg);
    }
    95%{
        background-image: url(../asets/capa2.svg);
    }
}
/* viñeta 7 */
.cat--salto{
    height: 9em;
    width: 15em;
}
.cat--salto::after{
    content: '';
    display: inline-block;
    position: relative;
    top: 70px;
    left: -3px;
    z-index: 20;
    width: 103%;
    height: 100%;
    background-color: white;
    border-top: 3px solid black;
}
.cat__paw--salto{
    width: 3em;
    height: 3em;
    bottom: 50px;
}

/* página 4 ------------------------------------- */
.vignette{
    overflow: hidden;
}
/* viñeta 8 */
.vignette__8,
.vignette__9{
    display: flex;
    justify-content: center;
    position: relative;
}
.cat--salto--up{
    position: absolute;
    top: 100px;
    height: 6em;
    width: 10em;
    
}
.cat__head--salto--up{
    left: 8px;
    top: -35px;
    width: 8em;
}
.cat__paw--salto--up{
    width: 2.2em;
    height: 2.2em;
    bottom: 10px;
    left: 10px;
    background-color: white;
}
.cat__paw--salto--right{
    left: 110px;
}
.cat__paw--salto--up::after{
    left: 5px;
    top: 13px;
}
.cat__paw--salto--up::before{
    left: 20px;
    top: 13px;
}
.cama{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #000000, #303333, #4f5151, #aeafaf);
    transform: rotate(180deg);
}
.cama::after{
    content: '';
    display: inline-block;
    width: 80%;
    bottom: 10;
    right: 10%;
    height: calc(100% - 3.5em);
    background-color: white;
    position: absolute;
}

/* viñeta 9 */
.nose--vignette__9{
    position: absolute;
    top: 30px;
    left: 20px;
    height: 2.5em;
    width: 2.5em;
}
.boca{
    top: 100px;
    left: 50px;
    width: 5.5em;
    
    background-image: url(../asets/ceja-boca1.svg);
}
