*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header --------------------------------------------- */
.header{
    padding: 20px 0;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    color: white;
    background-color: black;
}

/* Main -----------------------------------------------*/
.page{
    height: 70vh;
    width: 80%;
    margin: 0 auto;
    border: 3px solid black;
}
/* Página 1 ----------------------------- */
.page--1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vignette__container--left{
    width: 35%;
    height: 95%;
}
.vignette__1,
.vignette__2{
    height: calc(50% - 10px);
    border: 3px solid black;
}
.vignette__1{
    margin-bottom: 20px;
}
.vignette__3{
    width: 60%;
    height: 95%;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%); */
    border: 3px solid black;
}
.vignette__1,
.vignette__2, 
.vignette__3{
    position: relative;
    overflow: hidden;
}

/* Dibujos y animaciones de la primera página */
/* viñeta 1 */
.eyes__sleep{
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 20px);

    /* margin: 0 auto; */
    height: .8em;
    width: 2.7em;
    border-radius: 10px;
    background-color: black;
}
.eyebrows{
    position: absolute;
    top: 10px;
    left: calc(50% - 58px);

    height: 5em;
    width: 7em;
    border-radius: 50%;
    border: .6em solid black;
}
.eyebrows::before{
    content: '';
    position: absolute;
    top: 3px;
    left: -20%;
    display: inline-block;
    height: 5em;
    width: 8em;
    background-color: white;
}

/* viñeta 2 */
.eyes{
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    z-index: 10;

    height: 2.7em;
    width: .8em;
    border-radius: 10px;
    background-color: black;
}



/* página 2 ------------------------------------------ */
.page--2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vignette__4,
.vignette__5{
    height: 95%;
    width: 45%;
    border: 3px solid black;
}
/* viñeta 4 */
.vignette__4,
.signal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vignette__4{
    background-color: black;
}
.signal{
    height: 200px;
    width: 220px;
    border-radius: 50%;
    /* border: 3px solid rgb(199, 185, 185); */
    background-color: white;
}
.cat__signal{
    position: relative;
    z-index: 1;
    height: 100px;
    width: 120px;
    border-radius: 50%;
    background-color: gray;
} 
.cat__signal__qewears{
    position: absolute;
    top: -8px;
    left: 0;
    height: 40px;
    width: 40px;
    clip-path: polygon(48% 0, 0% 100%, 100% 73%);
    background-color: gray;
    transform: rotate(-10deg);
}
.cat__signal__qewears--right{
    position: absolute;
    left: 75px;
    /* background-color: tomato; */
    height: 20px;
    transform: rotate(260deg);
}
